@media only screen and (max-width : 768px) {
  .page-user-edit {
    .pane-form {
      input {
        width: 100%;
      }

      .chosen-container-single {
        width: 100% !important;
      }
    }
  }
}

@media only screen and (max-width : 480px) {
  .page-user-edit {
    .pane-form {
      .pane-title {
        font-size: 1.5em;
        margin-top: 0;
      }

      .form-actions {
        input {
          width: 100%;
        }
      }
    }
  }
}
