/**
 * @file
 * Alert to admin css for alert design.
 */

.admin_alert_message {
  color: black;
  background-color: #fffce5;
  font-weight: 700;
  padding: 0.5em;
  background-image: url("icon/alert.png");
  background-repeat: no-repeat;
  padding-left: 40px;
}
