$radius: 0;

// Colors
//Basics
$color-blanco: #fff;
$color-negro: #000;
$color-negro2: #333;
$color-gris-claro: #f1f1f3;
$color-gris-claro: #F1F0F2;
$color-gris-claro2: #9b9b9b;
$color-gris-oscuro: #4a4a4a;
$color-gris-oscuro2: #EBEBEB;
$color-magenta: #853079;
$color-pink-bold: #fe98a2;
$color-red-purple: #781d58;
$color-amarillo: #f3bf00;
$color-amarillo-tools: #dca317;
$color-naranja-tools: #EA9129;
$color-morado-tools: #424072;
$color-font: $color-gris-claro2;
$color-gris-fondo-blogs: #E8E8E8;
$color-gris-tools: #D8DAD9;
$color-gris-tools-dark: #C5C3C4;
$color-gris-tools-light: #E7E7E7;
$color-fondo-tools: #f7f7f7;
$color-aqua1: #07b4bb;
$color-gris: #c5c3c4;
$color-placeholders: #444444;
$color-blue-body: #898CB5;




// Breakpoints

$size-break1: 480px;
$size-break2: 979px;
$size-break3: 1200px;
